body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #000;
  padding-top: 20px;
  text-align: center;
}

.sidebar .logo {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.sidebar .tablink {
  display: block;
  background-color: #000;
  color: white;
  padding: 16px;
  text-align: left;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar .tablink:hover {
  background-color: #575757;
}

.sidebar .tablink.active {
  background-color: white;
  color: black;
}

.main-content {
  margin-left: 200px;
  padding: 20px;
}

.tabcontent {
  display: none;
}

.next-button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.rounded-box {
  background-color: #000;
  color: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.rounded-box p {
  margin: 0 0 10px;
}

.rounded-box form {
  display: flex;
  flex-direction: column;
}

.rounded-box input[type="email"],
.rounded-box input[type="radio"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.rounded-box button {
  padding: 10px;
  background-color: #575757;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rounded-box button:hover {
  background-color: #777;
}

.rounded-box label {
  margin-bottom: 10px;
}

#types-result,
#uses-result,
#pattern-result,
#dangers-result,
#action-result {
  font-weight: bold;
}

#status-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f3f3f3;
  height: 20px;
  z-index: 1;
}

#progress-bar {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  text-align: center;
  line-height: 20px;
  color: white;
}
